/* ==========================================================================
   Estilos Globales reseteados
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

*{
    box-sizing: border-box;
}

*,*:after, *:before{
    box-sizing: inherit;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,canvas,iframe,img,svg,video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*font-family: 'Oswald', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Open Sans', sans-serif;*/

/* ==========================================================================
   Agregando los estilos
   ========================================================================== */
body{
    background: #f2f2f2;
    font-family: 'Oswald', sans-serif;

}

div.hero{
    background-image: url(../img/encabezado.jpg);
    height: 70vh;
    background-position: top center;
    background-size: cover;
}

div.contenido-header{
    padding-top: 20px;
}

nav.redes-sociales{
    text-align: center;
}

nav.redes-sociales a{
    margin-right: 20px;
    color: #ffffff;
    font-size: 2em;
}

nav.redes-sociales a:last-child{
    margin-right: 0;
}

@media only screen and (min-width: 770px){
    div.informacion-evento{
        width: 65%;
        margin: 0 auto;
        margin-top: 10px;
    }
}

div.informacion-evento{
    text-align: center;
    color: #ffffff;
}

div.informacion-evento p{
    display: inline;
    padding: 0;
    font-size: 20px;
    text-transform: uppercase;
}

div.informacion-evento i{
    color: #fe4918;
    font-size: 1.4em;
}

p.fecha{
    float: left;
}

p.ciudad{
    float: right;
    text-align: center;
}

h1{
   font-family: 'PT Sans', sans-serif; 
   font-size: 9.5vw;
   line-height: 1;
    margin: 0 0 20px 0;
}

.seccion p{
    font-size: 1.2em;
    text-align: center;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

h2{
    font-family: 'oswald', sans-serif;
    font-size: 2.4em;
    text-transform: uppercase;
    text-align: center;
}

h2::after{
    content: '';
    margin: 0 auto;
    background-image: url(../img/separador.png);
    height: 30px;
    width: 100%; 
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}

@media only screen and (min-width: 770px){
    h1{
        font-size: 7.5vw;
    }
}

p.slogan{
    text-transform: none !important;
}

.slogan span{
    font-weight: bold;
}

.contenedor{
    width: 92%;
    margin: 0 auto;
}

@media only screen and(min-width: 480px){
    .contenedor{
        width: 98%;
    }
}

@media only screen and(min-width: 768px){
    .contenedor{
        width: 90%;
    }
}

@media only screen and(min-width: 992px){
    .contenedor{
        width: 1100px;
    }
}

.seccion{
    padding: 5px 0 45px 0;
}

/*Barra*/

div.barra{
    background: #353535;
    padding: px;
}

@media only screen and (min-width: 768px){
    div.barra{
        background: #353535;
    }
}

div.logo{
    width: 80%;
    float: left;
    margin-top:  7px;
    margin-bottom:  7px;
}

div.logo img{
    width: 100%;
}

@media only screen and (min-width:768px){
    div.logo{
        width: 40%;
    }
   div.logo img{
        width: 50%;
    }
}

/*Navegacion principal*/

nav.navegacion-principal{
    display: none;
    margin-top:  .5%;
    margin-bottom:  .5%;
}   

nav.navegacion-principal a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 1.3em;
    transition: all .4s ease;
    width: 100%;
    display: inline-block;
    text-align: center;
}

nav.navegacion-principal a:hover{
    background: #fe4918;
    border-radius: 5px;
}

nav.navegacion-principal a:last-child{
    border: 2px solid #fe4918;
    color: #fe4918;
    border-radius: 5px;
}

nav.navegacion-principal a:last-child:hover{
    color: #ffffff;
}

@media only screen and (min-width: 768px){
    nav.navegacion-principal{
        float: right;
        width: 65;
        display: block;
        text-align: right;
    }
}

@media only screen and (min-width: 768px){
    nav.navegacion-principal a{
        margin-right: 15px;
        padding: 8px 5px;
        display: inline-block;
        width: auto;
    }
}

div.menu-movil{
    width: 50px;
    display: block;
    float: right;
    text-align: right;
    margin-top: 2%;
}

div.menu-movil:hover{
    cursor: pointer;
}

div.menu-movil span{
    height: 8px;
    margin-bottom: 6px;
    background: #ffffff;
    display: block;
}

@media only screen and (min-width: 768px){
    div.menu-movil{
        display: none;
    }
}

/*Talleres*/

section.programa{
    position: relative;
}

div.contenedor-video{
    max-width: 100%;
    overflow-x: hidden;
}

div.contenido-programa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.contenido-programa{
    background: rgba(53, 53, 53, .7);
    width: 100%;
}

@media only screen and (min-width:768px){
    div.contenido-programa{
        width: 40%;
        margin: 9% 40px;
        border-radius: 10px;
        height: 75%;
        padding: 30px;
    }
}

nav.menu-programa{
    display: table;
    width: 100%;
    border-bottom: 1px solid #fe4918;
    padding-bottom: 10px;
}

nav.menu-programa a{
    display: table-cell;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
}

nav.menu-programa i{
    color: #fe4918;
    margin-right: 4px;
    font-size: 1.4em;
}

div.detalle-evento{
    border-bottom: 1px solid #000000;
}

h3{
    color: #fe4918;
    font-family: 'oswald', sans-serif;
    font-size: 1.5em;
    margin: 10px 0;
    text-transform: uppercase;

}

div.detalle-evento i{
    font-size: 1.2em;
    color: #fe4918;
    margin-right: 10px;
}

div.detalle-evento p{
    color: #ffffff;
}

div.detalle-evento:nth-child(3){
    border: none;
}

.leer.hollow{
    display: inline-block;
    margin-top: 50px;
    text-decoration: none;
    color: #fe4918;
    font-weight: bold;
    font-size: 1.2em;
    background: #ffffff;
    padding: 8px 25px;
    border-radius: 6px;
    border: solid 1px #fe4918;
}

.leer.hollow:hover{
    background: #fe4918;
    color: #ffffff;
    transition: all .5s ease;
}

.leer{
    display: inline-block;
    margin-top: 50px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2em;
    background: #fe4918;
    border: solid 1px #ffffff;
    padding: 8px 25px;
    border-radius: 6px;
}

.leer:hover{
    background: #ffffff;
    color: #fe4918;
    transition: all .5s ease;
    border: solid 1px #fe4918;
}

.leer.transparencia{
    display: inline-block;
    margin-top: 50px;
    text-decoration: none;
    color: #fe4918;
    font-weight: bold;
    font-size: 1.2em;
    background: transparent;
    padding: 8px 25px;
    border-radius: 6px;
    border: solid 1px #ffffff;
    transition: all .5s ease;
}

.leer.transparencia:hover{
    background: #fe4918;
    color: #ffffff;
    transition: all .5s ease;
}

.float-right{
    float: right;
}

/*Invitados*/

ul.lista-invitados li{
    float: left;
}

@media only screen and (min-width: 480px){
    ul.lista-invitados li{
        width: 50%;
    }
}

@media only screen and (min-width: 768px){
    ul.lista-invitados li{
        width: 33.3%;
    }
}

div.invitado{
    margin: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 7px;
}

div.invitado p{
    position: absolute;
    bottom: -11.5%;
    top: %;
    left: 0;
    width: 100%;
    padding: 7% 15px;
    text-align: left;
    font-weight: bold;
    color: #fe4918;
    font-family: 'oswald', sans-serif;
    background: rgba(0,0,0,.8);
    transition: all .5s ease;
}

/*efecto invitados*/

div.invitado img{
    width: 100%;
    filter: grayscale(1);
    transition: all .3s ease-in-out;

}

div.invitado:hover img{
    filter: grayscale(0);
    transform: scale(1.15);
    transition: all .7s ease;
}

div.invitado:hover p{
    bottom: -100px;
    opacity: 0;
}

/*Evento contador*/

.parallax::before{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

div.contador{
    position: relative;
    height: auto;
}

div.contador::before{
    background-image: url(../img/bg-resumen.jpg);
    content: '';
}

ul.resumen-evento{
    position: relative;
    padding: 90px 0;
}

ul.resumen-evento li{
    width: 50%;
    float: left;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 24px;
}

@media only screen and (min-width: 768px){
    ul.resumen-evento li{
        width: 25%;
    }
}

div p.numero{
    font-size: 4em;
    display: block;
    margin: 0 0 10px 0;
    color: #fe4918;
}

/*Lista de precios*/

ul.lista-precios{
    text-align: center;
}

ul li div.tabla-precio{
    margin: 10px;
    padding: 20px 0;
    border: 1px solid #e1e1e1;
    background: #ffffff;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
    transition: all .3s ease;
}

ul li div.tabla-precio:hover{
    transform: scale(1.1);
    box-shadow: 0 0 50px #667777;
    border: solid 1px #fe4918;
}

@media only screen and (min-width: 768px){
    ul.lista-precios > li{
        float: left;
        width: 33.33%;
    }
}

div.tabla-precio ul li{
    font-family: ont-family: 'PT Sans', sans-serif;
    font-size: 15px;
    margin: 30px 0;
    text-transform: uppercase;
    color: #868686;
    line-height: 17px;
}

leer{
    margin-top: 25px;
}

leer.hollow{
    margin-top: 25px;
}

div.tabla-precio ul li::before{
    font-family: 'FontAwesome';
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
    color: green;
    content: '\f00c';
}

/*Mapa*/

.mapa{
    height: 420px;
    width: 100%;
    background: grey;
}

/*Testimonios*/

div.Contenedor-testimonios{
    margin: 0 0 30px 0;
}

blockquote.conten-testimonio{
    margin: 0 15px;
    border: solid 1px #e1e1e1;
    background: #ffffff;
    box-shadow: 0 0 6px #667777;
    position: relative;
    padding-bottom: 20px;
}

blockquote.conten-testimonio p{
    text-align: justify;
    font-size: 1em;
    padding: 0 20px 0 50px;
    font-weight: normal;
}

blockquote.conten-testimonio p::before{
    content: '\201c';
    position: absolute;
    left: 19px;
    top: -6px;
    font-size: 70px;
    color: #fe4918;
}

div.testimonios{
    margin-bottom: 10px;
}



@media only screen and (min-width: 768px){
    div.testimonios{
        float: left;
        width: 33.3%;
    }
}

footer.info-testimonial img{
    float: left;
    width: 20%;
    border-radius: 50%;
    margin-left: 10px;
}

footer.info-testimonial cite{
    display: inline-block;
    padding: 10px 0 0 10px;
    font-size: 1.1em;
    font-weight: bold;
    color: #fe4918;
}

footer.info-testimonial span{
    display: block;
    color: rgba(0,0,0,.7);
    font-size: .8em;
    font-style: normal;
}

/*Seccion de registro*/

div.newsletter{
    position: relative;
    height: auto;
}

div.newsletter::before{
    background-image: url(../img/bg-newsletter.jpg);
    background-position: bottom center;
    content: '';
}

div.newsletter .contenido{
    padding: 50px 0;
    position: relative;
    text-align: center;
    color: #ECECEC;
    text-shadow: 0 0 9px #000000;
    text-transform: uppercase;
}

div.newsletter .contenido p{
    text-transform: lowercase;
    font-size: 1.2em
}

/*Cuenta regreciva*/

div.cuenta-regreciva ul li{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6em;
    font-family: 'Oswald', sans-serif;
}

@media only screen and (min-width: 768px){
    div.cuenta-regreciva ul li{
        float: left;
        width: 25%;
    }
}

/*footer*/

footer.site-footer{
    background: #353535;
    margin-top: 20px;
    padding: 30px 0 0 0;

}

@media only screen and (min-width: 768px){
    div.footer-informacion{
        float: left;
        width: 33.3%;
        
    }    
}

div.footer-informacion{
    color: #ffffff;
    font-size: 12px;
    text-align: justify;
    margin-bottom: 20px;
}

div.margen-float{
    margin: 0 15px;
}

footer h3{
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

footer span{
    color: #fe4918;
}

footer ul li{
    margin-bottom: 6px;
}

footer nav.redes-sociales{
    text-align: left;
}

p.derechos{
    margin: 0;
    padding: 15px;
    text-align: center;
    background: rgba(34,34,34,.5);
    font-size: 14px;
    color: rgba(255,255,255,.6);
    font-family: serif geneva verdana;
}

/*fin de pagina inicial*/

/*estilos a la pagina registro*/

form.registro h3{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

form.registro label{
    margin-bottom: 5px;
    font-weight: bold;
}

form h4{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em;
    padding: 10px 0;
    margin: 10px 0;
    border-bottom: 1px solid #fe4918;
}

div.caja{
    background: #ffffff;
    border: 1px solid #e1e1e1;
    padding: 15px;
}

div.campo{
    padding: 20px 0;
}

@media only screen and (min-width: 768px){
    div.campo{
        float: left;
        width: 33.3%;
    }
}

div.paquetes .tabla-precio{
    box-shadow: none;
}

div.paquetes .tabla-precio:hover{
    transform: none;
    box-shadow: none;
}

div.paquetes .tabla-precio input{
    clear: both;
    width: 9%;
    margin: 10px auto 0 auto;
    display: block;
    padding: 5px;
}

.contenido-dia{
    padding: 0 20px 20px 20px;
    display: none;
}

@media only screen and (min-width:768px){
    .contenido-dia > div{
        float: left;
        width: 30%;
        padding: 0 1.1%;
        text-align:left;
    }
}

.contenido-dia > div label{
    display: block;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.contenido-dia > div input{
    margin-right: 10px;
}

.contenido-dia > div time{
    color: #fe4918;
    font-weight: bold;  
}

/*Estilos para el resumen*/

div.resumen p{
    font-size: 1.3em;
    text-transform: uppercase;
}

div.resumen div.extras{
    float: left;
    width: 45.5%;
    padding: 45px .5%;
}

div.extras div.orden{
    text-align: left;
    margin-bottom: 30px;
}

div.extras div.orden label{
    padding: 30px;
}

div.extras div.orden input{
    display: block;
    margin: 15px
}

div.resumen input{
    display: block;
    margin: 20px auto;
}

#lista-productos{
    background: #e1e1e1;
    padding: 20px 100px;
    display: none;

}

#suma-total{
    text-align: center;
    font-size: 2.6em;
    color: #fe4918;
}

#error{
    display: none;
    clear: both;
    text-align: center;
    text-transform: uppercase;
}